<section>
  <div class="home__page-container container">
    <aside class="sidebar-container">
      <div class="categories"></div>
      <div class="categories__support">
        <include src="./partials/support-ukraine.html"></include>
      </div>
      
    </aside>
    <div class="conteiner__books">
      <include src="./partials/best-selling-books.html"></include>
      <div class="conteiner__books-box">
        <div class="name__categore-box"></div>
        <div class="books"></div>
      </div>
    </div>
  </div>
</section>


